h1{
	text-align: center;
	color: rgba(255,0,255,0.3);
}

h3{
	text-align: center;
}

.image-gallery {
	display: grid;
	margin-top: 10%;
	grid-template-areas: 'image_1 image_2 image_3';
}

figure{
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
}

img{
	height: 300px;	
	width: 33%;
}

.image_1{
	border: 1px solid rgba(0, 0, 0, 1);
}

.h3_1{
	color: rgba(67,21,86,1);
}

.fig_1{
	color: rgba(67,21,86,1);
}

.image_2{
	border: 1px solid rgba(0, 0, 0, 1);
}

.h3_2{
	color: rgba(146,48,48,1);
}

.fig_2{
	color: rgba(146,48,48,1);
}

.image_3{
	border: 1px solid rgba(0, 0, 0, 1);
}

.h3_3{
	color: rgba(224,34,41,1);
}

.fig_3{
	color: rgba(224,34,41,1);
}

.bottom{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 20px;
}

.bottom a {
	text-decoration: none;
	float: right;
}

.bottom a:hover {
	text-decoration: underline;
}