header{
	background-color: maroon;
	color: white;
	padding: 20px;
	text-align: center;
}

h1{
	font-weight: 400;
}

#navbar{
	overflow: hidden;
	background-color: #008080;
	border-bottom: 15px solid maroon;
	
}

#navbar a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	color: black;
	background-color: #cc9999;
}

#container{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s;
	width: 50%;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title{
	text-align: center;
	font-size: 2em;
	color: #008080;
	weight: 400;
}

.card-content{
	padding: 2px 16px;
}

#footer{
	background-color: maroon;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer p{
	color: white;
	font-weight 400;
	float: right;
	padding-right: 10px;
	font-style: italic;
}

#footer a{
	color: white;
	text-decoration: none;
}

#footer a:hover{
	text-decoration: underline;
}